.container-conteudo {
    font-family: calibri;
    margin: 10px;
    font-size: 20px;
    text-align: justify;

}

.bemvindo {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: crimson;
    border-radius: 10px;
    padding: 3px 15px 10px 15px;
}

.historia {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: crimson;
    border-radius: 10px;
    padding: 3px 15px 10px 15px;
    margin-top: 20px;

}

.conquistas {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: crimson;
    border-radius: 10px;
    padding: 3px 15px 10px 15px;
    margin-top: 20px;
    

}

.links ul {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: crimson;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 15px 15px 15px 15px;
    font-size: 20px;

}

a {
    text-decoration: none;
    color: white;

}

body {
    background-color: rgb(172, 172, 156);
}

.gallery {
    display: flex;
    width: 100%;
    height: 100%;
}

.banners {
    aspect-ratio: 9/16;
    min-width: 0;
    height: 30rem;
    flex: 1 1 10px;
    object-fit: cover;
    opacity: .6;
    transition: .5s;
}

.banners:hover {
    flex: 1 1 100px;
    opacity: 1;
}

.top5 {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: crimson;
    border-radius: 10px;
    padding-left: 2rem;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

}